/*Global Colors*/

$black-tick:#04162c ;
$black-ban:#08203a;
$primary-color:#3630ff;
$secondary-color:#9000ff;
$link-color-hover:#1227b8;
$link-color-active:#1227b8;
$gradient-color-from: #2439ff;
$gradient-color-to:#9000ff;
$white:#ffffff;

$gradient-color-from-rgb: 36,57,255;
$gradient-color-to-rgb:144,0,255;