
/*Containers*/
.container{
    
    &.box{
        max-width: 1170px;
        margin: 0px auto;
    }
    &.wide{
        max-width:100%;
    }
}

/*Backgrounds*/
.bg{
    &-red{
        background-color: red;
    }
    &-primary{
        background-color:$primary-color;
    }
    &-secondary{
        background-color:$secondary-color;
    }
    &-black{
        background-color:#000000;
    }
    &-white{
        background-color:$white;
    }
    &-grey{
        background-color:lighten(#000000,95);
    }
}


/*Widths*/
.w{
    &-10{width:10%;}
    &-15{width:15%;}
    &-20{width:20%;}
    &-25{width:25%;}
    &-30{width:30%;}
    &-35{width:35%;}
    &-40{width:40%;}
    &-45{width:45%;}
    &-50{width:50%}
    &-55{width:55%}
    &-60{width:60%;}
    &-65{width:65%;}
    &-70{width:70%}
    &-75{width:75%}
    &-80{width:80%;}
    &-85{width:85%;}
    &-90{width:90%;}
    &-95{width:95%;}
    &-100{width:100%}
}

/*Texts*/
.txt{
    &-white{color:$white;}
    &-black{color:$black-ban}
    &-primary{color:$primary-color;}
    &-grey{color:lighten($color: #000000, $amount: 20);}
}


/* Buttons */
.btn{
    @extend %btn;
    color:$white;
    &.primary{
        background:linear-gradient($gradient-color-from,$gradient-color-to);
    }
    &.secondary{
        background-color:$black-tick;
    }
    &.lg{
        padding:16px 30px;
    }
    &.sm{
        padding:8px 20px;
    }
}

/*Gradients*/
.txt-grad{
    background:linear-gradient($gradient-color-from, $gradient-color-to);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.bg-grad{
    background:linear-gradient($gradient-color-from, $gradient-color-to);
}

/*Position Relative*/
.pos-rel{
    position:relative;
}
.pos-rel.in{
    overflow: hidden;
}

/* Right Line to Title*/
.border-lit-right{
    position: relative;
    &.lg::after{
        content: "";
        top:50%;
        position: absolute;
        background:radial-gradient($gradient-color-from,$gradient-color-to);
        width:70px;
        height:6px;
        margin:0px 10px;
    }

    &.sm::after{
        content: "";
        top:50%;
        position: absolute;
        background:radial-gradient($gradient-color-from,$gradient-color-to);
        width:70px;
        height:3px;
        margin:0px 10px;
    }
}
.border-lit-right-left{
    position: relative;
    margin:0px auto;
    max-width:40%;
    span{
        background-color:inherit;
        z-index:2000;
    }
    &.lg::after{
        content: "";
        top:50%;
        position: absolute;
        background:radial-gradient($gradient-color-from,$gradient-color-to);
        width:70px;
        height:6px;
        margin:0px 10px;
    }

    &.sm::after{
        content: "";
        top:50%;
        position: absolute;
        background:radial-gradient($gradient-color-from,$gradient-color-to);
        width:70px;
        height:3px;
        right:20%;
        margin:0px 10px;
    }
    &.lg::before{
        content: "";
        top:50%;
        position: absolute;
        background:radial-gradient($gradient-color-from,$gradient-color-to);
        width:70px;
        height:6px;
        left:20%;
        margin:0px 10px;
    }

    &.sm::before{
        content: "";
        top:50%;
        position: absolute;
        background:radial-gradient($gradient-color-from,$gradient-color-to);
        width:70px;
        height:3px;
        left:20%;
        margin:0px 10px;
    }
   



}


/*Flexbox*/
.flex{
    display: flex;
}
.spc-btw{
    justify-content: space-between;
}



/*Handling Card Design*/
.card-parent{
    display: flex;
    flex-direction: column;

    .card-item{
        background-color:$white;
        padding:1.2rem;
        border-radius:0.5rem;
        .icon{
            color:$primary-color;
            background-color:lighten($color: #000000, $amount: 95);
            padding:1.2rem;
            display: grid;
            place-content: center;

        }
    }
}

/*Badges*/
.badge{
    position: relative;
    .badge-item{
        position: relative;
        min-height: 270px;
        .badge-circle{
            height:210px;
            width:210px;
            border-radius:100%;
            border:10px solid $white;
        }

        .badge-body{
            margin-bottom:10px;
            border-radius:0.7rem;
            border-top-left-radius:4rem;
        }
}
    
}

/*Rendering Accordion*/

.accordion{
    background-color:rgb(241, 230, 164,0.2);
    padding:14px 22px;
    border-radius:6px;
    border:1px solid lighten(grey,41);
    .title__wrapper{

        cursor:pointer;
    }
    &__title{
        font-weight:600;
        color:$black-tick;
        
    }
    &__content{
        display:none;
        opacity: 0.3;
        margin-top:5px;
        max-height:1px;
        
        &.show{
            display:block;
            opacity: 1;
            max-height:1000px;
            transition: all 2s ease-in-out;
        }
    }
}

